# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives**

> Popular languages use in Data Science are Python, R and Java Script
> Most commonly used libraries are Pandas, Seaborn and Tensor Flow
> Some famous Data Science tools are Jupyter notebook, Apache Spark and R
> (3*4)+5 = 17
> 200 minutes converts to 3.33 hours

Some of the popular languages that Data Scientists use are:

Ordered List - 
1. Python
2. R Language
3. Java Script

Some of the commonly used libraries used by Data Scientists include:

ordered list - 
1. Pandas
2. Seaborn
3. TensorFlow

Data Science Tools

1. Jupyter Notebooks
2. Apache Spark
3. R Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print((3*4)+5)

#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
a = 200
b = a/60
print("The",a,"minutes is equals to",b,"hours")

#his will convert 200 minutes to hours by diving by 60

The 200 minutes is equals to 3.3333333333333335 hours

## Author
Shashi Kushwaha